@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@200;400;500;700&display=swap');

body {
    background-image: url(/images/bg-pattern-bottom-desktop.svg), url(/images/bg-pattern-top-desktop.svg);
    background-repeat: no-repeat;
    background-position: right bottom, top left;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: 'Spartan', sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.row-top {
    display: flex;
    flex-wrap: wrap;
    max-width: 1110px;
    color: hsl(300, 43%, 22%);
    justify-content: space-between;
    margin-bottom: 75px;
}

header {
    width: 470px;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}

header p {
    color: hsl(303, 10%, 53%);
}

.stars {
    display: flex;
    flex-direction: column;
}

.rev {
    background-color: hsl(300, 24%, 96%);
    width: 445px;
    height: 55px;
    border-radius: 8px;
    margin: 8px;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.rev div {
    margin: 30px;
}

.rev img {
    margin: 2px;
}

.report-guru {
    transform: translateX(-50px);
}

.reviews {
    transform: translateX(-100px);
}



.row-bottom {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: hsl(300, 43%, 22%);
    color: white;
    height: 235px;
    width: 350px;
    margin: 15px;
    border-radius: 8px;
}

.colton {
    transform: translateY(-15px);
} 

.anne {
    transform: translateY(15px);
}

.title {
    height: 40px;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    bottom: 25px;
    margin-left: 17px;
}

.card h2 {
    font-size: 13px;
    margin-bottom: 3px;
}

.card span {
    font-size: 13px;
    font-weight: 200;
    color: hsl(333, 80%, 67%);
}

.card img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 40px;
    margin-left: 30px;
}

.card p {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 5PX;
    font-size: 13px;
    line-height: 23px;
}



@media (max-width: 931px) {

    body {
        background-image: url(/images/bg-pattern-bottom-mobile.svg), url(/images/bg-pattern-top-mobile.svg);
        background-repeat: no-repeat;
        background-position: right bottom, top left;
        min-height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        font-family: 'Spartan', sans-serif;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }

    h1 {
        text-align: center;
        margin-top: 100px;
        margin-bottom: 30px;
    }

    header p {
        text-align: center;
        font-size: 18px;
        margin-right: 0;
        margin-bottom: 50px;
    }

    .colton {
        transform: translateY(0px);
    } 
    
    .anne {
        transform: translateY(0px);
    }
    .row-top {
        justify-content: center;
    }

    .row-bottom {
        transform: translateY(-30px);
    }

    .report-guru {
        transform: translateX(0px);
    }
    
    .reviews {
        transform: translateX(0px);
    }

}